/*navbar*/



.view body, html {
    height: 100%
}


.bg-custom-2 {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar-nav {
    margin-right: 10px;
}

.navbar {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.navbar-brand {
    margin-left: 10px;
}

.nav-item {
    position: relative;
}

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #FCF0E7;
    text-decoration: none;
    background: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.dropdown-menu {
    border: 0px;
}