<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="shortcut icon" href="../static/images/main/favicon.ico">

    <!-- Webpage Title -->
    <title>가장 가까운 공원찾기</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <link href="../static/navbar.css" rel="stylesheet">
    <link href="../static/bubblefooter.css" rel="stylesheet">


    <!--navbar javascript-->
    <script>
        $(document).ready(function () {
            $('#navbarDropdown').mouseenter(function () {
                $('.dropdown-menu').slideToggle(300, "linear");
            });

            $('.dropdown-menu').mouseleave(function () {
                $(this).slideToggle(300, "linear");
            });
        });
    </script>


    <style>

        @media (min-width: 40rem) {
            .col-md-8 {
                width: 90%;
            }

            .col-md-4 {
                width: 90%;
            }
        }

        @media (min-width: 56rem) {
            .col-md-8 {
                width: 33.3333%;
            }

            .col-md-4 {
                width: 33.3333%;
            }
        }
    </style>

</head>

<body>

<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-custom-2">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}" target="_self">
                <strong>Lego, Hangang</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}" target="_self">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('show_location') }}" id="navbarDropdown" target="_self" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">길 찾기</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('show_location') }}" target="_self">길 찾기 (기본 ver.)</a>
                            <a class="dropdown-item" href="{{ url_for('fastest_route') }}" target="_self">가장 가까운 한강공원찾기</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_bickeinfo') }}" target="_self">자전거 대여</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_self">피크닉 즐기기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('review_date') }}" target="_self">데이트 코스 추천</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">가장 가까운 한강찾기</h1>
        <p class="lead">현위치에서 가장 가까운 한강공원의 위치 및 길 찾기 정보를 제공합니다. (위치정보 허용)</p>
        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="find_loc()">내 위치에서 가장 가까운 한강공원은?
                </button>
            </div>
        </div>
        <hr class="featurette-divider">
        <h4 id="Pname"></h4>
    </div>
    <hr class="featurette-divider">
    <div id="result-box" class="row">
        <div id="map" class="col-md-8" style="height:400px"></div> <!-- this is jido -->
        <div id="show-info-box" class="col-md-4">
            <p>이동경로</p>
            <ul id="route"></ul>
            <p>소요시간</p>
            <ul id="totalTime"></ul>
        </div>
    </div>
</div>


<!-- Naver Developers에서 발급받은 네이버지도 Application Key 입력  -->
<script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3hxpwhkwla"></script>


<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);


    function find_loc() {
        $("#route").empty();
        $("#totalTime").empty();
        $("#Pname").empty();
        map = new naver.maps.Map('map', mapOptions);
        fastest_way()
    }

    let sx = 0;
    let sy = 0;
    let ex = 0;
    let ey = 0;
    let time = 0;

    function fastest_way() {
        if (navigator.geolocation) { // GPS를 지원하면
            navigator.geolocation.getCurrentPosition(function (position) {
                user_latitude = position.coords.latitude;
                user_longitude = position.coords.longitude;

                $.ajax({
                    type: 'POST',
                    url: '/get_location',
                    data: {
                        user_latitude: user_latitude, user_longitude: user_longitude
                    },
                    success: function (response) {
                        sx = response['result']['SX']
                        sy = response['result']['SY']

                        way1 = getInfo(sx, sy, 126.934312, 37.528538); //여의도
                        way2 = getInfo(sx, sy, 126.876260, 37.566273); //난지
                        way3 = getInfo(sx, sy, 127.071357, 37.529341); //뚝섬
                        way4 = getInfo(sx, sy, 127.119979, 37.549213); //광나루
                        way5 = getInfo(sx, sy, 126.815225, 37.588483); //강서
                        way6 = getInfo(sx, sy, 127.081879, 37.518070); //잠실
                        way7 = getInfo(sx, sy, 126.894570, 37.555939); //망원
                        way8 = getInfo(sx, sy, 126.902319, 37.538522); //양화
                        way9 = getInfo(sx, sy, 126.953173, 37.524391); //이촌
                        way10 = getInfo(sx, sy, 127.011912, 37.521638); //잠원
                        way11 = getInfo(sx, sy, 126.994680, 37.509900); //반포

                        showMin(way1, way2, way3, way4, way5, way6, way7, way8, way9, way10, way11)
                    }
                })
            }, function (error) {
                console.error(error);
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });
        }

        function showMin(a, b, c, d, e, f, g, h, i, j, k) {
            var array = [a, b, c, d, e, f, g, h, i, j, k];
            var min = Math.min.apply(null, array);

            if (min == a) {
                ex = 126.934312;
                ey = 37.528538;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 여의도한강공원 🐳')
            } else if (min == b) {
                ex = 126.876260;
                ey = 37.566273;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 난지한강공원 🐳')
            } else if (min == c) {
                ex = 127.071357;
                ey = 37.529341;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 뚝섬한강공원 🐳')
            } else if (min == d) {
                ex = 127.119979;
                ey = 37.549213;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 광나루한강공원 🐳')
            } else if (min == e) {
                ex = 126.815225;
                ey = 37.588483;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 강서한강공원 🐳')
            } else if (min == f) {
                ex = 127.081879;
                ey = 37.518070;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 잠실한강공원 🐳')
            } else if (min == g) {
                ex = 126.894570;
                ey = 37.555939;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 망원한강공원 🐳')
            } else if (min == h) {
                ex = 126.902319;
                ey = 37.538522;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 양화한강공원 🐳')
            } else if (min == i) {
                ex = 126.953173;
                ey = 37.524391;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 이촌한강공원 🐳')
            } else if (min == j) {
                ex = 127.011912;
                ey = 37.521638;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 잠원한강공원 🐳')
            } else {
                ex = 126.994680;
                ey = 37.509900;
                showInfo(sx, sy, ex, ey)
                searchPubTransPathAJAX(sx, sy, ex, ey)
                $("#Pname").append('🐳 반포한강공원 🐳')
            }
        }


        function getInfo(sx, sy, ex, ey) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {

                if (xhr.readyState == 4 && xhr.status == 200) {
                    let subpath = (JSON.parse(xhr.responseText))["result"]["path"][0]["subPath"]
                    let path = (JSON.parse(xhr.responseText))["result"]["path"][0]

                    time = path["info"]["totalTime"]
                }
            }
            return time
        }

        function searchPubTransPathAJAX(sx, sy, ex, ey) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log((JSON.parse(xhr.responseText))["result"]); // <- xhr.responseText 로 결과를 가져올 수 있음
                    //노선그래픽 데이터 호출
                    console.log((JSON.parse(xhr.responseText))['result']['path'][0]['info'])
                    callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][0].info.mapObj);
                }
            }
        }

        function showInfo(sx, sy, ex, ey) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX=" + sx + "&SY=" + sy + "&EX=" + ex + "&EY=" + ey + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {

                if (xhr.readyState == 4 && xhr.status == 200) {
                    let subpath = (JSON.parse(xhr.responseText))["result"]["path"][0]["subPath"]
                    let path = (JSON.parse(xhr.responseText))["result"]["path"][0]

                    time = "<li>" + path["info"]["totalTime"] + "분 소요 " + "</li>"
                    walking = "<li>" + "총 도보 거리 = " + path["info"]["totalWalk"] + "m" + "</li>"
                    $("#totalTime").append(time)
                    $("#totalTime").append(walking)

                    for (let i = 0; i < subpath.length; i++) {

                        if (subpath[i]["trafficType"] == 1) {
                            txt = "<li>" + subpath[i]["startName"] + "-->"
                                + subpath[i]["endName"] +
                                " (지하철 " + subpath[i]["lane"][0]["name"] + ")" + "</li>"

                            console.log(txt)
                            $("#route").append(txt)
                        } else if (subpath[i]["trafficType"] == 2) {
                            txt = "<li>" + subpath[i]["startName"] + "-->"
                                + subpath[i]["endName"] +
                                " (" + subpath[i]["lane"][0]["busNo"] + "번 버스)" + "</li>"

                            console.log(txt)
                            $("#route").append(txt)
                        } else {
                            if (subpath[i]["sectionTime"] == 0) {
                                console.log('(환승)')
                                txt = "<li>" + "( 환승 )" + "</li>"
                                $("#route").append("환승")
                            } else {
                                txt = "<li>" + "도보로 이동" + " (" + subpath[i]["sectionTime"] + "분 소요)" + "</li>"

                                console.log(txt)
                                $("#route").append(txt)

                            }
                        }
                    }
                }
            }

        }

        //길찾기 API 호출


        function callMapObjApiAJAX(mabObj) {
            var xhr = new XMLHttpRequest();
            //ODsay apiKey 입력
            var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" + mabObj + "&apiKey=zZOOCFJaccyfaXpDSn6kJaK%2BV5CTfh4tdW7Bp4Mg2Jo";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var resultJsonData = JSON.parse(xhr.responseText);
                    drawNaverMarker(sx, sy);					// 출발지 마커 표시
                    drawNaverMarker2(ex, ey);					// 도착지 마커 표시
                    drawNaverPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
                    // boundary 데이터가 있을경우, 해당 boundary로 지도이동
                    if (resultJsonData.result.boundary) {
                        var boundary = new naver.maps.LatLngBounds(
                            new naver.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
                            new naver.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
                        );
                        map.panToBounds(boundary);
                    }
                }
            }
        }

        // 지도위 마커 표시해주는 함수
        function drawNaverMarker(x, y) {
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(y, x),
                animation: 2,
                map: map,

            });
        }

        function drawNaverMarker2(x, y) {
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(y, x),
                animation: 2,
                map: map,

            });
        }


        // 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수
        function drawNaverPolyLine(data) {
            var lineArray;

            for (var i = 0; i < data.result.lane.length; i++) {
                for (var j = 0; j < data.result.lane[i].section.length; j++) {
                    lineArray = null;
                    lineArray = new Array();
                    for (var k = 0; k < data.result.lane[i].section[j].graphPos.length; k++) {
                        lineArray.push(new naver.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
                    }

                    //지하철결과의 경우 노선에 따른 라인색상 지정하는 부분 (1,2호선의 경우만 예로 들음)
                    if (data.result.lane[i].type == 1) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#0052A4'
                        });
                    } else if (data.result.lane[i].type == 2) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#009D3E'
                        });
                    } else if (data.result.lane[i].type == 3) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#EF7C1C'
                        });
                    } else if (data.result.lane[i].type == 4) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#00A5DE'
                        });
                    } else if (data.result.lane[i].type == 5) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#996CAC'
                        });
                    } else if (data.result.lane[i].type == 6) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#CD7C2F'
                        });
                    } else if (data.result.lane[i].type == 7) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#747F00'
                        });
                    } else if (data.result.lane[i].type == 8) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#EA545D'
                        });
                    } else if (data.result.lane[i].type == 9) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#BDB092'
                        });
                    } else if (data.result.lane[i].type == 100) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#F5A200'
                        });
                    } else if (data.result.lane[i].type == 101) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#0065B3'
                        });
                    } else if (data.result.lane[i].type == 21) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#7CA8D5'
                        });
                    } else if (data.result.lane[i].type == 104) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#77C4A3'
                        });
                    } else if (data.result.lane[i].type == 107) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#6FB245'
                        });
                    } else if (data.result.lane[i].type == 108) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#0C8E72'
                        });
                    } else if (data.result.lane[i].type == 109) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#D4003B'
                        });
                    } else if (data.result.lane[i].type == 111) {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3,
                            strokeColor: '#F5A200'
                        });
                    } else {
                        var polyline = new naver.maps.Polyline({
                            map: map,
                            path: lineArray,
                            strokeWeight: 3
                        });
                    }
                }
            }
        }
    }
</script>


</body>
</html>