<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="shortcut icon" href="../static/images/main/favicon.ico">

    <!-- Webpage Title -->
    <title>공원 별 | 위치 검색</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <link href="../static/navbar.css" rel="stylesheet">

    <style>
        .jumbotron {
            padding-top: 15px;
        }
    </style>
    <!--navbar javascript-->
    <script>
        $(document).ready(function () {
            $('#navbarDropdown').mouseenter(function () {
                $('.dropdown-menu').slideToggle(300, "linear");
            });

            $('.dropdown-menu').mouseleave(function () {
                $(this).slideToggle(300, "linear");
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // index.html 로드가 완료되면 자동으로 showStar() 함수를 호출합니다.
            PicnicInfo();
        });

        function PicnicInfo() {
            placeLoc = $("#inputGroupSelect").val()
            $('#picnic-box').empty()
            $.ajax({
                type: 'GET',
                url: '/place_info?place=' + placeLoc,
                data: {},
                success: function (response) {
                    //카드 만들기
                    for (let i = 0; i < response['name'].length; i++) {
                        var key = String((i + 1))
                        let picName = response['name'][i][key];
                        let picLoc = response['location'][i][key];
                        let picTime = response['time'][i][key];
                        let picUrl = response['url'][i][key];
                        let picComment = response['comment'][i][key];

                        let pichtml = `
                       <div class="card">
                                <div class="card-content">
                                  <div class="media">
                                    <div class="media-left">
                                        <img
                                          src="#"
                                          alt="imgUrl 넣는 부분"
                                        />
                                    </div>
                                    <div class="media-content">
                                      <a href="${picUrl}" target="_blank" class="star-name title is-4">${picName} (좋아요: ${like})</a>
                                      <p class="subtitle is-6">${picLoc}</p>
                                      <p class="subtitle is-6">${picTime}</p>
                                      <p class="subtitle is-6">${picComment}</p>

                                    </div>
                                  </div>
                                </div>
                                <footer class="card-footer">
                                  <a href="#" onclick="like('${picName}')" class="card-footer-item has-text-info">
                                    위로!
                                    <span class="icon">
                                      <i class="fas fa-thumbs-up"></i>
                                    </span>
                                  </a>
                                  <a href="#" onclick="dislike('${picName}')" class="card-footer-item has-text-danger">
                                    삭제
                                    <span class="icon">
                                      <i class="fas fa-ban"></i>
                                    </span>
                                  </a>
                                </footer>
                              </div>`

                        $('#picnic-box').append(pichtml)

                    }
                }
            });
        }

        {#function like(picName) {#}
        {#    $.ajax({#}
        {#        type: "POST",#}
        {#        url: "/picnic/like",#}
        {#        data: {'name_give': picName},#}
        {#        success: function (response) {#}
        {#            if (response['result'] == 'success') {#}
        {#                // 2. '좋아요 완료!' 얼럿을 띄웁니다.#}
        {#                alert('좋아요 🥳')#}
        {#                // 3. 변경된 정보를 반영하기 위해 새로고침합니다.#}
        {#                window.location.reload()#}
        {#            }#}
        {#        }#}
        {#    });#}
        {# } #}
        {##}
        {#function dislike(picName) {#}
        {#    // 1. 서버에 1) POST 방식으로, 2) /api/delete 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.#}
        {#    // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!#}
        {#    $.ajax({#}
        {#        type: "POST",#}
        {#        url: "/picnic/dislike",#}
        {#        data: {'name_give': picName},#}
        {#        success: function (response) {#}
        {#            if (response['result'] == 'success') {#}
        {#                // 2. '삭제 완료! 안녕!' 얼럿을 띄웁니다.#}
        {#                alert('싫어요 🥺')#}
        {#                // 3. 변경된 정보를 반영하기 위해 새로고침합니다.#}
        {#                window.location.reload()#}
        {#            }#}
        {#        }#}
        {#    });#}
        {# } #}

    </script>

    <style>
        .jumbotron {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

    </style>
</head>
<body>

<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-custom-2">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}" target="_self">
                <strong>Lego, Hangang</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}" target="_self">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('show_location') }}" id="navbarDropdown"
                           target="_self" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">길 찾기</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('show_location') }}" target="_self">길 찾기 (기본
                                ver.)</a>
                            <a class="dropdown-item" href="{{ url_for('fastest_route') }}" target="_self">가장 가까운
                                한강공원찾기</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_bickeinfo') }}" target="_self">자전거 대여</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_picnic') }}" target="_self">피크닉 즐기기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('review_date') }}" target="_self">데이트 코스 추천</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="jumbotron">
    <h1 class="display-4">한강공원에서 피크닉 즐기기</h1>
    <p class="lead">피크닉 세트, 레저 용품, 텐트, 캠핑 세트 등 다양한 용품들을 대여할 수 있는 공간을 알려줍니다.</p>
    <p>** 강서, 잠실 지역은 데이터가 존재하지 않습니다. **</p>
    <hr class="my-4">
    <div class="input-group">
        <select class="custom-select" id="inputGroupSelect" aria-label="Example select with button addon">
            <option selected>대여하고자 하는 한강공원 위치를 선택하세요</option>
            <option value="1">여의도한강공원</option>
            <option value="2">난지한강공원</option>
            <option value="3">뚝섬한강공원</option>
            <option value="4">광나루한강공원</option>
            <option value="7">망원한강공원</option>
            <option value="8">양화한강공원</option>
            <option value="9">이촌한강공원</option>
            <option value="10">잠원한강공원</option>
            <option value="11">반포한강공원</option>
        </select>
        <p class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="PicnicInfo()">대여소 찾기</button>
        </p>
    </div>
</div>

<div class="picnic-list" id="picnic-box">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <img
                            src="#"
                            alt="imgUrl 넣는 부분"
                    />
                </div>
                <div class="media-content">
                    <a href="#" target="_blank" class="star-name title is-4">피크닉 (좋아요: 0)</a>
                    <p class="subtitle is-6">서울</p>
                    <p class="subtitle is-6">연중무휴</p>
                    <p class="subtitle is-6">안녕하세요</p>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>